# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Logs:
*.log

# Eclipse
.project
.pydevproject
.settings

# Linux Editors
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*
*.swp
*.swo

# Mac
.DS_Store
._*

# Windows
Thumbs.db
Desktop.ini
lib
include
local
share
bin
.idea
.vagrant
package.box
chembiocrunch/media
chembiocrunch/assets
chembiocrunch/chembiocrunch/settings/secret.py
chembiocrunch/bower_components/*
