{% load svg_responsive %}
<!-- import visualisation_dropdowns.html here -->
{% if visualisation_list %}
<!-- <a name="list">
</a> -->

<div class="row">
  	<!-- move the list items here, 4 at a time inside a div class="carousel-item" -->
  {% for visualisation_item in visualisation_list %}
      
  <div id="vis-{{visualisation_item.id}}" title="{{visualisation_item.results}}" class="col-md-2 col-sm-4 col-xs-6 vis {% if visualisation_item.html %}{{visualisation_item.error_class}}{% endif %}">
    <div class="well col-sd-8 col-sd-offset-2 {% ifequal visualisation_item.id visualisation.id %} activeitem {% endifequal %}">

      <div class="row-fluid">
        <span class="col-xs-8">{% if visualisation_item.visualisation_title %}{{ visualisation_item.visualisation_title|title }}{% else %} no title yet{% endif %}</span>
        <div class="col-xs-1">
        <span class="expand glyphicon glyphicon-resize-full "></span>
        </div>
        <div class="col-xs-1">
        <a href="{% url "ic50_visualisation_view" pk=visualisation_item.id format="png" %}" type="link" value="new" name="new" ><span class="expand glyphicon glyphicon-download-alt "></span></a>
      </div>
      </div>

      <div class="vis-thumb "> {% if visualisation_item.html %}
            {{ visualisation_item.html|add_responsive_tags|safe }}

            {% else %}
            No graph? <a href="{{ request.get_full_path }}" >Reload</a>
              <div class="bubblingG">
              <span id="bubblingG_1">
              </span>
              <span id="bubblingG_2">
              </span>
              <span id="bubblingG_3">
              </span>
              </div>
                <script>
                  fetchSvgGraph("{% url "ic50_visualisation_view" pk=visualisation_item.id format="html" %}", {{visualisation_item.id}});
                </script>
        {% endif %}</div>
        
<select  id="vis_comment_{{visualisation_item.id}}" required="" class="select form-control form-control" >
  {% for choice in visualisation_item.COMMENT_CHOICES %}
  <option value="{{ choice.0 }}" {% ifequal visualisation_item.comment choice.0 %}selected="selected" {% endifequal %}>{{ choice.0 }}</option>
  {% endfor %}

</select>

<script>
$('#vis_comment_{{visualisation_item.id}}').on('change', function (e) {
  var comment = $(this).find(":selected").text();
  if (comment == "Good Curve"){
    $('#vis-{{visualisation_item.id}}').removeClass("ic50-error-4");

  }
fetchSvgGraph('{% url 'ic50_visualisation_update_view' pk=visualisation_item.id format='html' comment='COMMENT' %}'.replace("COMMENT", comment)      ,{{visualisation_item.id}});

});
</script>

    </div>
  </div>
  <!-- ajax request specific to this graph -->


  {% endfor %}
</div>



{% include "visualise/visualisation_dropdowns_ajax.html" with pk=object.id workflow_revision_id=workflow_revision.id %}
    
<!-- end vis holder -->
{% endif %}
