{% extends "workflow_base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block action_title %}
To get started upload your data and config files
{% endblock action_title %}
{% block help_text %}
    You need to upload three files into the correct upload boxes:
    <ul>
        <li>
            The BMG output from the machine in row by row format (use the data file upload box) - see example format 
            <a href='{% static "misc/BMG_Output_File_Sample.xls" %}'>here</a>.
        </li>
        <li>
            The Transfer file to map data to your plates (use the transfer file upload box) - see example format 
            <a href='{% static "misc/Transfer_File_Sample.csv" %}'>here</a>.
        </li>
        <li>
            The assay metadata file - ensure that it includes reference compound wells (if required) and control wells - see example format 
            <a href='{% static "misc/Assay_Meta_Data_File_Sample.xlsx" %}'>here</a>.
        </li>
    </ul>

{% endblock help_text %}
{% block content %}
        <form  enctype="multipart/form-data"  action="" class="crispy form-horizontal col-lg-6 col-md-6 col-sm-12 col-xs-12" method="post">
        {% crispy form form.helper %}
        </form>

{% endblock content %}