{% extends "workflow_base.html" %}
{% load crispy_forms_tags %}
{% block action_title %}
You have constructed a workflow
{% endblock action_title %}
{% block content %}
   

        <div><em>Well done!</em>
        </div>
        
	        <div class="btn-group">
	        	<a href="{% url "workflow_list" %}"><button type="button" class="btn btn-success"><span class="glyphicon glyphicon-th-list"></span> Back to Workflow List</button></a>
	        	<a href="{% url "workflow_create" %}"><button type="button" class ="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add another workflow</button></a>
	        </div>
        
        
    

    
{% endblock content %}