{% extends "workflow_base.html" %}
{% load crispy_forms_tags %}
{% block action_title %}
To get started upload a data file to your private profile
{% endblock action_title %}
{% block content %}
   

        <form  enctype="multipart/form-data"  action="{% url 'workflow_create' %}" class="crispy form-horizontal" method="post">
                {% crispy form form.helper %}
        </form>




{% endblock content %}

{% block help_text %}
<p>
The file should be in CSV format (ideally raw from your machine).
</p>
<p>
Column names need to be in the first row. Data will only be imported up to the first empty row.</p>
<p>
Great file names describe the experiment, include the date and are unique.
</p>
{% endblock help_text %}