{% extends "workflow_base.html" %}
{% block breadcrumbs %}
<div class="navbar ">
      <div class="container">
        <div class="navbar-header">
        </div>
    </div>
</div>{% endblock breadcrumbs %}

{% block help_text %}




        <div>
          <p>Workflows are data containers where you can analyse your experimental results</p>
        </div>
        
        <a href="{% url "workflow_create" %}"><button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Add plain workflow</button></a>
        <a href="{% url "workflow_ic50_create" form_type="LabcyteEcho" %}"><button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Add IC50 workflow</button></a>
      
    

{% endblock help_text %}

{% block action_title %}

<h2>{% if object_list %}Your Workflows:{% else %}You do not have any workflows yet, create one below:{% endif %}</h2>

{% endblock action_title %}

{% block content %}  

    {% if object_list %}
    <div class='row'>
    {% for workflow in object_list %}

        
        <div class ="btn col-lg-2 col-md-2 col-sd-4 col-xs-6 well"><a class="close">×</a><a href="{{ workflow.id }}/workflow_data_mappings_edit"><span class="workflow-title">{{ workflow.title|title }}</span></a><br/><br/><span class="workflow-date">{{ workflow.created}}</span></div> <!-- end workflow holder -->
    {% endfor %}
    {% endif %}

    
{% endblock content %}


