{% extends "workflow_base.html" %}
{% load crispy_forms_tags %}
{% block action_title %}
To get started upload your data and config files
{% endblock action_title %}
{% block help_text %}
<ul>
    <li>
    You need to upload three files into the correct upload boxes:
    <ul>
        <li>
            The BRG output from the machine in row by row format (use the data file upload box)
        </li>
        <li>
            The Transfer file file to map data to your plates (use the transfer file upload box).
        </li>
        <li>
            The assay metadata file - ensure that it includes reference compound wells (if required) and control wells - see example format <a href="{% static "/misc/meta_template.xlsx"}">here</a>.
        </li>
    </ul>
    </li>

</ul>
{% endblock help_text %}
{% block content %}
        <form  enctype="multipart/form-data"  action="" class="crispy form-horizontal col-lg-6 col-md-6 col-sm-12 col-xs-12" method="post">
        {% crispy form form.helper %}
        </form>

{% endblock content %}