{% extends "workflow_base.html" %}
{% load staticfiles %}
{% block breadcrumbs %}
<div class="navbar ">
      <div class="container">
        <div class="navbar-header">
        </div>
    </div>
</div>{% endblock breadcrumbs %}

{% block extra_css %}

<link href="{% static 'css/jquery-ui.min.css' %}" rel="stylesheet">

{% endblock extra_css %}

{% block help_text %}




        <div>
          <p>Workflows are data containers where you can analyse your experimental results</p>
        </div>
        
        <a href="{% url "workflow_create" %}"><button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Add plain workflow</button></a>
        <a href="{% url "workflow_ic50_create" form_type="LabcyteEcho" %}"><button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Add IC50 workflow</button></a>
      
    

{% endblock help_text %}

{% block action_title %}

<h2>{% if object_list %}Your Workflows:{% else %}You do not have any workflows yet, create one below:{% endif %}</h2>

{% endblock action_title %}

{% block content %}  

    {% if object_list %}
    <div class='row'>
    {% for workflow in object_list %}


        <div class ="col-lg-2 col-md-2 col-sd-4 col-xs-6" id="{{ workflow.id }}"><div class="well {{ workflow.workflow_type }}"><a class="close" data-workflow-id="{{ workflow.id }}" data-archive-url="{% url "workflow_ajax_archive" pk=workflow.id model=workflow.workflow_type  %}">×</a><a href="
            {% if workflow.workflow_type == 'ic50workflow' %}
                {% url "workflow_ic50_heatmap" pk=workflow.id workflow_revision_id=0 %}
            {% else %}
                {{ workflow.id }}/workflow_data_mappings_edit
            {% endif %}
            "><span class="workflow-title">{{ workflow.title|title }}</span></a><br/><br/><span class="glyphicon glyphicon-time"></span> <span class="workflow-date">{{ workflow.created}}</span><br/><span class="glyphicon glyphicon-user"></span> <span class="workflow-date">{{ workflow.created_by }}</span></div></div> <!-- end workflow holder -->

    {% endfor %}
    {% endif %}
    
    <div id="dialog-close" title="Archive this workflow?" style="display:none">
        <p>Are you sure? This workflow will not be deleted but will be hidden from view</p>
    </div>

{% endblock content %}

{% block extra_js %}
<script src="{% static 'js/jquery-ui.min.js' %}" ></script>


<script>

$(document).ready(function() {
    $('.close').each(function(){

        $(this).click(function(e){
          //get parent table cell
          //add or remove unchecked class
          markAsArchived($(this).attr("data-workflow-id"), $(this).attr("data-archive-url"));
        });

    });
});

function markAsArchived(w_id, w_url) {
    $( "#dialog-close" ).dialog({
      resizable: false,
      modal: true,
      buttons: {
        "Archive": function() {
          //ajax function
          $.ajax(
            {
                //url : "/my_workflows/" + w_id + "/archive_workflow/",
                url : w_url,
                type: "GET",
                success:function(data, textStatus, jqXHR) 
                {
                    console.log(data);
                    $( "#dialog-close" ).dialog('close');
                    $('#' + w_id).hide();

                },
                error: function(jqXHR, textStatus, errorThrown) 
                {
                    console.log('couldnt archive');
                    console.log(errorThrown);
                }
            });
        },
        Cancel: function() {
          $( this ).dialog( "close" );
        }
      }
    });
}


</script>

{% endblock extra_js %}
