{% extends "workflow_base.html" %}
{% load crispy_forms_tags %}
{% block action_title %}
Please check that we have imported right number and correct any errors.
{% endblock action_title %}
{% block help_text %}
<ul>
<li>
Data fields are read in the format that they appear in the CSV, date support is coming soon.
</li>
<li>
Hiding a column takes it away from view in the analysis process.
</li>
<li>
Descriptions and units are optional but can be displayed on graphs to make data more comprehensible.
</li>
</ul>
{% endblock help_text %}

{% block content %}
{% crispy formset helper %}

{% if visualisations %}
{% for vis in visualisations %}

{% include "visualise/visualise.html" with visualisation=vis %}
{% endfor %}

{% endif %}
{% endblock content %}





