{% extends "workflow_base.html" %}
{% load crispy_forms_tags %}
{% block action_title %}
To get started upload your data and config files
{% endblock action_title %}
{% block help_text %}
<ul>
    <li>
    Your data is displayed as a conditionally formatted heatmap
    </li>
    <li>
    Validate your data by eye. You can deselect wells as outliers by clicking the value in each table cell. 
    </li>
    <li>
    Deselected cells will turn grey. You can re-select cells by clicking the value again.
    </li>
    <li>
      When you are finished, click Update and
    </li>
</ul>
{% endblock help_text %}
{% block content %}
<form action="" class="crispy form-horizontal" method="post" id="hmp-to-ic50">

<div class="heatmap-container">


{% crispy heatmap_form %}


<div id="graph-loading-area" class="hidden">

    <div class="bubblingG">
    <span id="bubblingG_1">
    </span>
    <span id="bubblingG_2">
    </span>
    <span id="bubblingG_3">
    </span>
    </div>
    <div id="loading-status"></div>
</div>


</div>
<div class="container">

<a href="{% if prev %}{% url "workflow_ic50_heatmap" pk=object.id workflow_revision_id=prev.id %}" class="{% else %}/" class="disabled {% endif %} btn btn-primary pull-left"  role="button"  ><span class="glyphicon glyphicon-chevron-left"></span>Prev</a>
<a href="{% if next %}{% url "workflow_ic50_heatmap" pk=object.id workflow_revision_id=next.id %}" class="{% else %}/" class="disabled {% endif %} btn btn-primary pull-right"  role="button"  >Next<span class="glyphicon glyphicon-chevron-right"></span></a>

</div>

</form>

{% endblock content %}
{% block extra_js %}

<script>

$(document).ready(function() {
  //monitor the heatmap well checkboxes
  $('.checkboxinput').each(function(){

    $(this).change(function(e){
      //get parent table cell
      //add or remove unchecked class
      cell = $(this).closest('td');
      cell.toggleClass("unchecked");
    });

  });

  //monitor the column header checkboxes
  $('.hmp_header .checkbox').change(function(e) {
      trigger = $(this);
      cell = $(this).closest('th');
      column_number = cell.attr('data_column').toString();
      //get the value of data-column
      //set all of those to reflect the reverse checked state of the header
      $('td[data_column="' + column_number + '"]').each(function(){
        checkbox = $(this).find('.checkboxinput');
        if (checkbox.prop('checked') != trigger.prop('checked')) {
          checkbox.click();
        }
      });
    
  });

  //monitor the column row checkboxes
  $('.hmp_row_header .checkbox').change(function(e) {
      trigger = $(this);
      cell = $(this).closest('th');
      row_letter = cell.attr('data_row').toString();
      //get the value of data-row
      //set all of those to reflect the reverse checked state of the header
      $('td[data_row="' + row_letter + '"]').each(function(){
        checkbox = $(this).find('.checkboxinput');
        if (checkbox.prop('checked') != trigger.prop('checked')) {
          checkbox.click();
        }
      });
    
  });

  $('#submit-id-save').click(function(e) {
    e.preventDefault();
    $('#graph-loading-area').removeClass('hidden');
    $('#loading-status').html("<p>Generating graphs...</p>");
    $.ajax(
    {
        url : "{% url "workflow_ic50_heatmap" pk=object.id workflow_revision_id=current %}",
        type: "POST",
        data : $('#hmp-to-ic50').serialize(),
        success:function(data, textStatus, jqXHR) 
        {
            //console.log(data)
            //$('#graph-loading-area').addClass('hidden');
            $('#loading-status').html("<p>Fetching graphs...</p>");
            fetchGraphs();


        },
        error: function(jqXHR, textStatus, errorThrown) 
        {
            //if fails      
        }
    });
  });



});

function fetchGraphs() {
  $.ajax({
    url : "{% url "ic50_ajax_graphs" pk=object.id workflow_revision_id=current %}",
    type: "GET",
    success:function(data, textStatus, jqXHR) 
    {
        //console.log(data)
        $('#graph-loading-area').removeClass('hidden');
        $('#graph-loading-area').html(data);


    },
    error: function(jqXHR, textStatus, errorThrown) 
    {
        console.log("fetchGraphs ajaxfail");
    }

  });
}

</script>


{% endblock extra_js %}