{% extends "workflow_base.html" %}
{% load crispy_forms_tags %}
{% block action_title %}
To get started upload your data and config files
{% endblock action_title %}
{% block help_text %}
<ul>
    <li>
    You need to upload two files into the correct upload boxes:
    <ul>
        <li>
            The output from the machine (use the data file upload box)
        </li>
        <li>
            The config file to map data to your plates (use the config file upload box).
        </li>
    </ul>
    </li>
    <li>
    They should be in the standard template format supplied by Oleg.
    </li>
    <li>
    Great file names describe the experiment, include the date and are unique.
    </li>
</ul>
{% endblock help_text %}
{% block content %}
        

<!-- Build heatmap content here
  Div containing a table
  Each table cell corresponds to a plate well 
  Each well contains the data value and a styled/hidden checkbox
  Clicking the cell toggles the checkbox
  deactivated cells go grey, then recolour when activated 
-->

<div class="heatmap-container">

<form  enctype="multipart/form-data" name="heatmap_form" class="crispy form-horizontal" method="post">
{% crispy heatmap_form %}
</form>

</div>
<script>

$(document).ready(function() {

  $('.checkboxinput').each(function(){

    //apply the class

    $(this).change(function(e){
      //get parent table cell
      //add or remove unchecked class
      cell = $(this).closest('td');
      cell.toggleClass("unchecked");
    });

  });

});

</script>

{% endblock content %}