{% load svg_responsive %}
<!-- import visualisation_dropdowns.html here -->
{% if visualisation_list %}
<a name="list">
</a>


<div class="container">
<div id="carousel-graphs" class="carousel slide" data-ride="carousel" data-interval="false">

<!--   <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
  </ol>
 -->

  <div class="carousel-inner" id="main-carousel">
  	<!-- move the list items here, 4 at a time inside a div class="carousel-item" -->
    {% for visualisation_item in visualisation_list %}

        {% if forloop.first %}
        <div class="item active">
        {% endif %}
    
        <div title="{{visualisation_item.results}}" class ="btn col-lg-2 col-md-2 col-sd-4 col-xs-6 vis"><a id="carousel-selector-{{ visualisation_item.id }}" href="{% url request.resolver_match.url_name pk=object.id workflow_revision_id=workflow_revision.id %}#options"><div class="well col-sd-8 col-sd-offset-2 {% ifequal visualisation_item.id visualisation.id %} activeitem {% endifequal %}">
            <div class="row">
            <span class="workflow-title">{% if visualisation_item.visualisation_title %}{{ visualisation_item.visualisation_title|title }}{% else %} no title yet{% endif %}</span></div><div class="row"><span class="workflow-date">{{ visualisation_item.created }}</span>
            </div><div class="vis-thumb ">{{ visualisation_item.html|add_responsive_tags|safe }}</div>
            

        </div></a>
      </div>
      {% if forloop.counter|divisibleby:"6" and not forloop.last and not forloop.first %}
        </div><div class="item">
      {% endif %}
      {% if forloop.last %}
        </div>
      {% endif %}
    {% endfor %}

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-graphs" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-graphs" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>

</div>

</div>




    
<!-- end vis holder -->
{% endif %}
