
<div class="dropdown pull-right">
  <button class="btn btn-primary btn-lg dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
    Export
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">


    <li role="presentation"><a href="{% url "ic50_export_graphs" pk=pk format="xlsx" %}" role="menuitem" tabindex="-1" type="link" id="submit-id3-submit" value="delete" name="delete" class="btn btn-default input-block-level "></span>Export all workflow graphs as XLSX</a>
    </li>

  </ul>
</div>

 
<script>
window.onload = function(){
  $('.dropdown-toggle').dropdown();
}
</script>