{% extends "workflow_base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load svg_responsive %}




{% block action_title %}
Visualisation Builder

{% endblock  %}


{% block help_text %}

<p>
 
        The visualisation builder lets you create, save and export multiple visualisations
</p>



{% endblock help_text %}
{% block content %}

<form  action="#options" class="  " method="post">

{% include "visualise/visualisation_list.html" %}

{% include "visualise/visualisation_dropdowns.html" %}

<a name="options"/>
<h2 class="row">
<div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
    {% if not visualisation_id %}
    Adding
    {% else %}
    Editing 
    {% endif %}
</div>
<span style="font-size:12pt">
  {% if visualisation_form %}
    {% crispy visualisation_form visualisation_form.titlehelper %}   
{% endif %}
 <button type="submit"  id="submit-id3-submit"  class="btn btn-primary"></span>Update</button>
</span>
</h2>
<div class="row pull-left col-xs-12">
    {% if visualisation_form %}
        {% crispy visualisation_form visualisation_form.xhelper %}
    {% endif %}
</div>
<div class="row  ninehundred">
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 ninehundred">
          {{ visualisation.html|add_responsive_tags|safe }}
              {% if visualisation_form %}
                  {% crispy visualisation_form visualisation_form.helper %}
              {% endif %}
          </div>
</div>               
 
{% include "visualise/visualisation_filter.html" %} 


  </form>

{% endblock content %}


{% block extra_js %}





{% endblock extra_js %}

