/*! project specific CSS goes here. */
.arrow_box { position: relative; background: #222; min-height:40px; color:white;
    text-align:center;
    padding-top:10px;} .arrow_box:after { left: 100%; top: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(66, 115, 213, 0); border-left-color: #222; border-width: 20px; margin-top: -20px; }

