/*! project specific CSS goes here. */
.arrow_box { position: relative; background: #002147; min-height:40px; color:white;
    text-align:center;
    padding-top:10px;
} 
.arrow_box:after { 
	left: 100%; 
	top: 50%; 
	border: solid transparent; 
	content: " "; 
	height: 0; 
	width: 0; 
	position: absolute; 
	pointer-events: none; 
	border-color: rgba(66, 115, 213, 0); 
	border-left-color: #002147; 
	border-width: 20px; 
	margin-top: -20px; 
}
fieldset {
	margin: 0 2px !important;
    padding: .35em .625em .75em !important;
}

.form-group {
	margin: 0 10px;
}
.form-horizontal .control-label {
	font-size:1.4em;
	margin-bottom: 10px;
}

.spacer {
    margin-top: 40px; /* define margin as you see fit */
}

.infobox {
	min-height: 20px;
	padding: 19px;
    background-color: #efe;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	margin-bottom:20px;
}
.sidebar-nav {
float:right;
min-height:100px;
background-color: blue;
}